@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
font-family:'Poppins',sans-serif;
}

html,body,.stApp{
background:#09111F;
color:white;
}

/* Hide Streamlit */

#MainMenu{
visibility:hidden;
}

footer{
visibility:hidden;
}

header{
visibility:hidden;
}

/* Sidebar */

section[data-testid="stSidebar"]{

background:#071220;

border-right:2px solid #00D4FF;

}

section[data-testid="stSidebar"] *{

color:white !important;

font-weight:500;

}

/* Hero */

.hero{

background:linear-gradient(135deg,#2563EB,#06B6D4);

padding:45px;

border-radius:25px;

box-shadow:0 0 35px rgba(0,212,255,.45);

margin-bottom:30px;

}

.hero-title{

font-size:52px;

font-weight:800;

color:white;

}

.hero-sub{

font-size:20px;

color:white;

}

/* KPI */

.metric{

background:#111827;

padding:30px;

border-radius:20px;

text-align:center;

border:1px solid #243447;

transition:.4s;

}

.metric:hover{

transform:translateY(-8px);

box-shadow:0 0 20px #00D4FF;

}

.metric-number{

font-size:42px;

font-weight:800;

color:#22D3EE;

}

.metric-text{

font-size:17px;

color:white;

}

/* Cards */

.card{

background:#111827;

padding:25px;

border-radius:20px;

margin-top:20px;

border:1px solid #334155;

}

.card:hover{

box-shadow:0 0 20px rgba(0,212,255,.35);

}

/* Titles */

.title{

font-size:30px;

font-weight:700;

color:#22D3EE;

margin-bottom:20px;

}

.text{

color:white;

font-size:18px;

line-height:1.9;

text-align:justify;

}

/* Plotly */

.js-plotly-plot{

border-radius:20px;

overflow:hidden;

}